*{
  margin:0px;
  padding: 0px;
}
body{
  font-family: "Roboto Serif", serif;
  
  background-color:rgba(211, 211, 211, 0.03);

}
p,span,li,a{
  font-family: "Poppins", sans-serif;
}

.navbg{
  background-color:#1c468e ;
}
#carouselExampleCaptions .carousel {
   margin-left: 0 !important;
}
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
}

.hero-text{
  border-radius:15px 50px;
  background-color:aliceblue;
}

.herobtn{

background-color:#1c468e;
color:white;
}
.heroimg{
  height: 600px;
}
.about-icon{
  width: 50px; 
  height: 50px; 
}
.about-img{
  width: 100%;
  height: 100%;
  object-fit: cover
}
.icon-column,
.image-column {
 height: 250px; 
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding: 0;
 }

.cardimg{
height:235px;
object-fit: cover;
}
.card{
  border:1px solid #ddd;
  border-radius:8px;
  transition:box-shadow 0.3s ease-in-out;
}
.card:hover{
  box-shadow:0px 4px rgba(0,0,0,0.1);
  background-color: #205b96;
  color:white;
}
.footer-bg{
  background-color: #1c468e;
}
.footer-links a{
  color: #fff; 
  transition: color 0.3s ease; 
}
.footer-links a:hover {
  color: #d3d1ccca !important; 
  
}
.diagonal-container{
  position:relative;
  overflow:hidden;
  border-radius: 50%;
  width:500px;
  height:400px;
  background-color: black;
}
.video-container{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.social-icons span {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #007bff; 
  color: #fff; 
  text-align: center;
  line-height: 40px;
  transition: background-color 0.3s ease;
}

.social-icons span:hover {
  background-color: white; 
}


.social-icons .fa-facebook {
  background-color: #3b5998; 
}

.social-icons .fa-twitter {
  background-color: #1da1f2; 
}

.social-icons .fa-instagram {
  background-color: #e1306c; 
}

.social-icons .fa-youtube {
  background-color: #ff0000; 
}
.hero-container {
  position: relative;
  width: 100%;
  height: 500px; 
  background-image: url('./images/imageherocontainer.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.9; 
  color: #fff; 
  text-align: center;
  padding: 50px 0;
}

.explore-button {
  background-color:#1c468e ;
  color: #fff; 
  border: 1px solid black;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.explore-button:hover {
  background-color: #0056b3; 
}
.animated-element {
  position: relative;
  width: 100%;
  height: 7px; 
  animation: slideRight 3s linear infinite alternate;
}

